.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#task {
  width: 75%;
  padding: 10px;
  font-size: 14px;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;

    font-size: 18px;
    transition: 0.2s;
}

h2 {
   background-color: #000000;
   padding: 30px 40px;
   color: white;
   text-align: center;
   width: 100%;
}

h2:after {
  content: "";
  display: table;
  clear: both;
}

ul {list-style: none; width: 100%;}

li::before {content: "\2022"; color: #ffffff}

li::before {content: "\2022"; color: #ffffff;
  display: inline-block; width: 1em;
  margin-left: -1em}


ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #ddd;
}

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}


